  body{
    background-color: #eaf3f7;
  }
  
  /* CSS Styles for the table */
   .table-container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
.table {
    width: 100%;
    
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #eff5f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.table th, .table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ebf3f3;
}
.table th {
    background-color: #173d3d;
    color: white;
}
.table b {
    font-weight: bold;
}
.table tr:nth-child(even) {
    background-color: #dee4e4;
}
.table tr:hover {
    background-color: #e0e0e0;
}
/* Card Styles */
.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card p {
    margin: 10px 0;
}